/*home页面的样式*/
.home-body{
	background: url("../img/moon.jpg") no-repeat center center;
	background-size: cover; 
	opacity: 0.5;
	position: absolute;
	height: 100%;
	width: 100%;
}

.sky {
  width: 100%;
  height: 100%;
  position: relative;
  background: black;
  overflow: hidden;
  opacity: 0.2;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sky .clouds_one {
  background: url("../img/cloud_one.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_one 50s linear infinite;
  -moz-animation: cloud_one 50s linear infinite;
  -o-animation: cloud_one 50s linear infinite;
  animation: cloud_one 50s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sky .clouds_two {
  background: url("../img/cloud_two.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_two 50s linear infinite;
  -moz-animation: cloud_two 50s linear infinite;
  -o-animation: cloud_two 50s linear infinite;
  animation: cloud_two 50s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sky .clouds_three {
  background: url("../img/cloud_three.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  -webkit-animation: cloud_three 75s linear infinite;
  -moz-animation: cloud_three 75s linear infinite;
  -o-animation: cloud_three 75s linear infinite;
  animation: cloud_three 75s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*动画代码*/
@-webkit-keyframes cloud_one{0%{left:0}100%{left:-200%}}@-moz-keyframes cloud_one{0%{left:0}100%{left:-200%}}@keyframes cloud_one{0%{left:0}100%{left:-200%}}@-webkit-keyframes cloud_two{0%{left:0}100%{left:-200%}}@-moz-keyframes cloud_two{0%{left:0}100%{left:-200%}}@keyframes cloud_two{0%{left:0}100%{left:-200%}}@-webkit-keyframes cloud_three{0%{left:0}100%{left:-200%}}@-moz-keyframes cloud_three{0%{left:0}100%{left:-200%}}@keyframes cloud_three{0%{left:0}100%{left:-200%}}

.navbar{
	background-color: #f0fff0;
	font-weight: bolder;
	opacity: 0.9;
	font-family: "Arial Black", "Gadget", "sans-serif";
	font-size: 1.2em;
  opacity: 1;
}

.navbar-brand{
	position: static;
	font-family: "华文新魏";
	font-size: 1.5em;
}

.navbar-header img{
	float: left;
	margin-top: 0.1em;
	margin-right: 0.3em;
	width: 2.857em;
	height: 2.857em;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  background-color: #b4b4a0;
}

.navbar-default .navbar-nav>li>a:hover{
	background-color: #b4b4a0;
}

.dropdown-menu{
	text-align: center;
}

.dropdown-menu li a{
	color: #000;
	font-weight: bold;
}

.dropdown-menu li a:hover{
	background-color:black;
	color: #f0ffdc;
}

.dropdown-menu-title{
	text-align: left;
	text-indent: 2em;
	font-size: 1.1em;
}

.home-content{
  position: absolute;
  top: 55%;
  color: #285064;
  width: 100%;
  font-size: 1.2em;
}

/*link页面的样式*/
.link-body{
  position: absolute;
  background: #fff0dc url("../img/link-body.jpg") repeat;
  margin-top: 3.571em;
  width: 100%;
  height: 92%;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .link-body{
    height: auto;
  }
}

.row>ul>h3{
  color: #3c6428;
  font-weight: bolder;
}

.row>ul>li>a{
  color: #3c1414;
  font-size: 1.1em;
  font-weight: bold;
}

.row ul li a:hover, .row ul li a:active{
  color: #fff014;
}

/*share页面的样式*/
.share-body{
  position: absolute;
  background: #dcf0a0 url("../img/share-body.jpg") repeat;
  width: 100%;
  height: 93%;
  overflow: hidden;
  top: 50px;
  opacity: 0.6;
}

.share-body h2{
  letter-spacing: 0.1em;
}

.share-body h2, .share-body p{
  color: white;
}

.share-body p{
  font-size: 1.2em;
}

.share-body .container{
  margin-top: 5em;
  padding-top: 3em;
  padding-bottom: 3em;
  border: 0.2em double #f0f0c8;
}

@media (max-width: 768px;) {
  .share-body h2, .share-body p{
    display: none;
  }
  .share-body .container{
    margin-top: 0;
    padding: 0;
  }
}

.share-body .container nav{
  padding: 0.5em;
  box-sizing: border-box;
  background: #fff0f0;
  border-radius: 0.5em;
}

.share-body .container nav li{
  box-sizing: border-box;
}

.smallBar{
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  color: #f0f0c8;
  background-color: #3c3c3c;
}

.shareContent{
  position: relative;
  overflow: auto;
  height: 25em;
  border-top: 0.3em solid #3c3c3c;
  border-left: 0.3em solid #3c3c3c;
  border-bottom: 0.3em solid #3c3c3c;
  padding: 1em 0;
}

section{
  color: #f0f0c8;
}

section h3{
  font-weight: bold;
  text-shadow: 1px 1px #3c3c3c;
}

section ul li{
  font-size: 1.2em;
  margin: 0.5em 0;
}
section ul li a{
  color: #f0f0c8;
}